.shop-category {
    text-align: center;
    padding-top: 40px;
}

.shop-category-title {
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.shop-collection-text {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.shop-item-grid {
    margin-top: 20px;
}
